.manage-schedule-container {
    .pick-hour-container {
        margin: -5px;
        button {
            padding: 0px 10px;
            margin: 5px;
        }
    }
    button {
        margin-top: 10px;
    }
}
