.manage-doctor-container {
    margin: 20px;
    .manage-doctor-editor {
        .create-btn {
            margin-top: 5px;
            border: 1px solid;
            border-radius: 5px;
            background-color: rgb(71, 94, 224);
            color: white;
            &:hover {
                opacity: 0.7;
            }
        }
        .save-btn {
            margin-top: 5px;
            border: 1px solid;
            border-radius: 5px;
            background-color: rgb(248, 44, 8);
            color: white;
            &:hover {
                opacity: 0.7;
            }
        }
    }

    .manage-doctor-content {
        display: flex;
        margin: 10px 0;
        .left-content {
            width: 40%;
            margin-right: 5px;
        }

        .right-content {
            width: 60%;
            right: 0;
        }
    }
}
