.false {
    text-align: center;
    color: orange;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}
.true {
    text-align: center;
    color: orange;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    .confrimed {
    }
    .failed {
    }
}
